<nav class="w-full bg-emerald-600 text-white shadow-md py-4 px-6 mb-6">
  <div class="max-w-6xl mx-auto flex items-center justify-between">
    <div class="text-xl font-bold">Airbnb</div>
    <div class="space-x-6 flex items-center">
      <a href="/home" class="hover:text-emerald-100 transition-colors">Home</a>
      <a
        href="/host/host-home-list"
        class="hover:text-emerald-100 transition-colors"
        >Host Homes</a
      >
      <a href="/host/add-home" class="hover:text-emerald-100 transition-colors"
        >Add Home</a
      >
      <a href="/store/bookings" class="hover:text-emerald-100 transition-colors"
        >Bookings</a
      >
      <a
        href="/store/favourite-list"
        class="hover:text-emerald-100 transition-colors"
        >Favourites</a
      ><a href="/" class="hover:text-emerald-100 transition-colors">Index</a>
    </div>
  </div>
</nav>
