<form action="/favourites" method="POST">
  <button
    type="submit"
    class="w-full bg-rose-600 text-white font-bold py-2 rounded-lg hover:bg-rose-700 transition text-sm hover:bg-amber-400"
  >
    Add to Favourites
  </button>
  <input type="hidden" name="id" value="<%= home._id %>" />
</form>
